body {background: black;
}

h1  {color: rgb(231, 6, 6);
    text-align: center;
    font-style: italic;
    text-shadow: 0.2em 0.5em 0.1em rgb(203, 0, 253),-0.3em 0.1em 0.1em rgb(7, 228, 7),0.4em -0.3em 0.1em rgb(13, 13, 173);    
}

button {
    color: rgb(223, 221, 136);
    background: rgb(132, 0, 255);
    transition: background 1s;
}
  
  button:hover,
  button:focus {
    background: red;
}

marquee {
    align: center;
    color: limegreen;
    font-family: sans-serif;
    text-shadow: 1px 1px rgb(8, 33, 255), -1px -1px rgb(255, 0, 0)
}

img {width: 300px;
    box-shadow: 9px 9px 9px rgba(30, 3, 75, 0.77);
    cursor: crosshair;

}
